@charset "utf-8";

// SETUP VALUES FOR BULMA
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Domine');
$family-primary: "Domine", serif;
$family-secondary: "Barlow Semi Condensed", sans-serif;
$body-line-height: 1.8;
$widescreen-enabled: false;
$fullhd-enabled: false;

// PROCESS BULMA
@import "bulma/bulma";

// ADDITIONAL CHANGES

// Set default font size by viewing device
html {
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
  @include tablet {
    font-size: 16px;
  }
 @include desktop {
    font-size: 18px;
  }

}

// Set all headers as something other than the body font
@media screen { 
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $family-secondary;
    }
}


// IMPORT THE GRID LAYOUT INFO FOR LISTS
@import "ajc-archive-list";
@import "ajc-latest-list";


// CREATE BASIC GRID LAYOUT FOR PAGES
// PROVIDE Normal ("md") and Wide ("xl") Layouts
.grid { 
      display: grid;
      grid-template-columns: [xl-start] 0.5fr [md-start] minmax(auto , 57ch) [md-end] 1.5fr [xl-end];
}
.grid * {
      grid-column: md;
}
.archive-list, 
.latest-list {
      grid-column: xl;
}

// Add underline of full paragraph (using for separating title+subtitle from document)
.ajc-underline {border-bottom:1px solid black;} 


// CHANGE SPACING OF SUBTITLE UNDER SUBTITLE FOR DATE ON PAGES
.subtitle:not(.is-spaced) + .subtitle {
  margin-top: -1.25rem;
}


// Formatting of inline footnote
.inlinefootnote {margin:0.2em 1.0em; background: #ffffff; font-family: "courier new", "courier", "monospace"; line-height:1.4}


// For Printing -- hide inline footnotes and display the footnote blocks
@media print {
.footnotes {display: block !important;}
.inlinefootnote {display: none;}
nav {display: none;}
}