@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
$family-primary: "Roboto Slab", serif;
$family-secondary: "Lato", sans-serif;
$body-line-height: 1.7;
$body-size: 18px;

@import "bulma/bulma";

@media screen { 
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $family-secondary;
    }

    .wrapper { max-width:70ch;}
}

.archive .columns .column {padding-top:0; padding-bottom:0;}

input[type=checkbox] ~ span {display:none;}
input[type=checkbox]:checked ~ span {display:block; font-family: "Lato"; margin:.5em; background:#dddddd;}
input[type=checkbox] {display:none;}

.inlinefootnote {margin:0em 0.5em; background: #fcfcfc; font-family: "courier new", "courier", "monospace";}

@media print {
.footnotes {display: block !important;}
.inlinefootnote {display: none;}
}