@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:600|Roboto+Slab:400,700');
$family-primary: "Oswald", sans-serif;
$family-secondary: "Roboto Slab", serif;
$body-family: $family-secondary;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-primary;
}

@import "bulma/bulma";