{{ define "main" }}
  {{ $myYear := "" }}
  {{ range (where .Site.RegularPages "Section" "post").ByDate.Reverse }}
      {{ if ne (.Date.Format "2006") $myYear }}
           {{ $myYear := .Date.Format "2006" }}
            <h2> {{ $myYear }} </h2>
      {{ end }}
      <div class="columns">
      <div class="column is-3">
      <h3>{{ .Date.Format "January 2" }}</h3>
      </div>
      <div class="column">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Params.subtitle }}</p>
      </div>
      </div>
  {{ end }}
{{ end }}