{{ define "main" }}
<div class="section">
  <div class="content grid">
  <h1 class="title has-text-primary-dark">{{ .Title }}</h1>
  {{ with .Params.subtitle }}<p class="subtitle ajc-underline has-text-grey is-italic">{{ . }}</p>{{end}}
  <p class="subtitle has-text-grey is-italic is-size-7 has-text-right">{{ .Date.Format "January 2, 2006" }}</p>
  {{ with .Params.summary }}<p class="box"><b>Summary:</b> {{ . }}</p>{{end}}
  {{ .Content }}
  <div class="columns">
  {{if .PrevInSection}}<div class="column"><div class="box"><a href="{{.PrevInSection.Permalink}}">Previous:</br>{{ .PrevInSection.Title }}</a></div></div>{{end}}
  {{if .NextInSection}}<div class="column"><div class="box"><a href="{{.NextInSection.Permalink}}">Next:</br>{{ .NextInSection.Title }}</a></div></div>{{end}}
  </div>
  </div>
</div>
{{ end }}