{{ define "main" }}
<div class="section">
  <div class="content grid">
    {{ .Content }}
  </div>

      {{ $pages := where .Site.Pages "Section" "journal"}}
      {{ $topics := slice "notes" "journal" "essays" "sermons"}}
  <div class="content grid">
       <ul class="latest-list">
          <li class="year">
            <div class="year-info">
            <h2 class="year-title date">Most Recent Posts</h2>
            </div>
            <ul class="year-items">
            {{ $mypages := .Site.Pages }}
            {{ range $topics }}
              <li class="month">
              <h3 class="month-title date"><span class="month-sticky"><a href="/{{.}}">{{ . | humanize }}:</a></span></h3>
              <ul class="month-items">
              {{ range where $mypages "Section" . }}
                {{ range first 1 .Pages }}
                {{ if ne .Kind "section" }}
                <li class="day">
                  <h4 class="day-title date"><span class="day-sticky">&nbsp;</span></h4>
                <ul class="day-items">
                  <li class="item">
                    {{ if eq .Type "notes"}}
                      <h5 class="item-title"><a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006, 3:04 PM" }}</a></h5>
                    {{ else if eq .Type "journal" }}
                      <h5 class="item-title"><a href="{{ .Permalink }}">{{ .Title }}</a> <span class="is-italic">({{.Date.Format "January 2, 2006"}})</span></h5>
                      <p class="item-subtitle">{{ .Params.subtitle }}</p>
                    {{ else if eq .Type "sermons" }}
                      <h5 class="item-title"><a href="{{ .Permalink }}">{{ .Title }}</a> <span class="is-italic">({{.Date.Format "January 2, 2006"}})</span></h5>
                      <p class="item-subtitle">{{ .Params.subtitle }}</p>
                    {{ else if eq .Type "essays" }}
                      <h5 class="item-title"><a href="{{ .Permalink }}">{{ .Title }}</a> <span class="is-italic">({{.Date.Format "January 2, 2006"}})</span></h5>
                      <p class="item-subtitle">{{ .Params.subtitle }}</p>
                    {{ else }}
                    {{ end }}
                  </li>
                </ul>
                </li>
              {{ end }}
              {{ end }}
            {{ end }}
            </ul>
            </li>
          {{ end }}
          </ul>
          </li>
        </ul>
  </div>
</div>
{{ end }}
