{{ define "main" }}
  <div class="archive">
    <h1 class="title has-text-centered">Working Definitions</h1>
    <p class="subtitle has-text-centered">working to distill what I mean<br/>
    <span class="is-size-6 has-text-grey">Always subject to revision.</span></p>
    <p class="is-size-6 is-italic has-text-grey">These definitions represent what I want to mean when I'm using the terms.Following a short-ish definition, there may be more reflection, but that will usually be reserved for other types of posts (blog posts, essays, notes, and sermons).</p>
<!-- create a list with all uppercase letters -->
{{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

<!-- range all pages sorted by their title -->
{{ range .Data.Pages.ByTitle }}
  <!-- get the first character of each title. Assumes that the title is never empty! -->
  {{ $firstChar := substr .Title 0 1 | upper }}
 
  <!-- in case $firstChar is a letter -->
  {{ if $firstChar | in $letters }}
    <!-- get the current letter -->
    {{ $curLetter := $.Scratch.Get "curLetter" }}
    <!-- if $curLetter isn't set or the letter has changed -->
    {{ if ne $firstChar $curLetter }}
    <!-- update the current letter and print it -->
      {{ $.Scratch.Set "curLetter" $firstChar }}
      <h3>{{ $firstChar }}</h3>
    {{ end }}

   <a href="{{ .Permalink }}">{{ .Title }}</a><br>
  {{ end }}
{{ end }} 

  </div>
{{ end }}