{{ define "main" }}
<div class="archive">
<h1 class="title has-text-centered">Archive of Everything</h1>
<p class="subtitle has-text-centered">
    <a href="/blog">Blog Posts</a> |
    <a href="/working-definition">Definitions</a> |
    <a href="/essay">Essays</a> |
    <a href="/note">Notes</a> |
    <a href="/sermon">Sermons</a><br/>
    <span class="has-text-grey is-size-6">intermixed and arranged by date</span></p>
  <table>
  {{ $pages := where .Site.Pages "Section" "blog"}}
  {{ $pages := $pages | union ( where .Site.Pages "Section" "working-definition" ) }}
  {{ $pages := $pages | union ( where .Site.Pages "Section" "sermon" ) }}
  {{ $pages := $pages | union ( where .Site.Pages "Section" "essay" ) }}
  {{ $pages := $pages | union ( where .Site.Pages "Section" "note" ) }}
  {{ $prev := 3000 }}
  {{ range $pages.ByDate.Reverse }}
    {{ if ne .Kind "section" }}
      {{ if gt $prev (.Date.Format "2006") }}
          <tr><td colspan=3><p class="is-size-3 has-text-weight-semibold has-text-centered">{{.Date.Format "2006"}}</p></td></tr>
      {{ end }}
      <tr>
        <td>{{.Date.Format "January 2"}}</td>
        <td><a href="{{ .Permalink }}">{{ if eq .Type "note"}}{{ .Date.Format "2006-01-02 15:04:05" }}{{else}}{{ .Title }}{{end}} </a></td>
        <td class="is-right">{{.Type}}</td>
      </tr>
      {{ $prev = .Date.Format "2006" }}
    {{ end }}
  {{ end }}
  </table>
</div>
{{ end }}