{{ if gt (.Scratch.Get "footnote") 0 }}
{{ $uid := .File.UniqueID }}
<section class="footnotes" role="doc-endnotes">
   <hr>
   <ol>
      {{ range $x,$footnote := .Page.Scratch.Get "footnotes" }}
      <li id="fn:{{$uid}}-{{$x}}" role=doc-endnote>{{$footnote}}<a class="footnote-backref" role="doc-backlink" href="#fnref:{{$uid}}-{{$x}}">return</a></li>
      {{ end }}
   </ol>
</section>
{{ end }}
<div class="footer has-text-centered">
  <p>
    <a href="/">home</a> |
    <a href="/archive/">list of everything</a> |
    <a href="/about/">about</a>
  </p>
</div>
{{ $script := resources.Get "ajc.js" }}
<script src="{{ $script.Permalink }}"></script>