{{ if gt (.Page.Scratch.Get "footnote") 0 }}
<div id="footnotedisplay">
    <ul>
    {{ range $key,$footnote := .Page.Scratch.Get "footnotes" }}
      <li id="fn{{$key}}-note">{{$footnote}}<a href="#fn{{$key}}">return</a></li>
    {{ end }}
    </ul>
{{ end }}
</div>
<div class="footer has-text-centered">
<p>
<a href="\">home</a> |
<a href="\archive\">list of everything</a> |
<a href="\about\">about</a>

</p>
</div>
    {{ $script := resources.Get "ajc.js" }}
    <script src="{{ $script.Permalink }}"></script>