<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJC | {{ .Title }}</title>
    {{/*
    {{ $scss := resources.Get "ajc.scss" }}
    {{ $style := $scss | resources.ToCSS   }}
    */}}
    {{ $style := resources.Get "ajc.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ partial "favicon.html" . }}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
