<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{ $logo := resources.Get "images/andrewjcamenga_logo3.svg"  }}
    <a class="navbar-item" href="/">
      <img src="{{$logo.Permalink}}">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/blog/">Blog</a>
      <a class="navbar-item" href="/essays/">Essays</a>
      <a class="navbar-item" href="/sermons/">Sermons</a>
      <a class="navbar-item" href="/notes/">Notes</a>
      <a class="navbar-item" href="/working-definitions/">Definitions</a>
      <a class="navbar-item" href="/archive/">Archive</a>
    </div>
    </div>
  </div>
</nav>
