{{ define "main" }}
<div class="section">
  <div class="content grid">
  <h1>{{ .Title }}</h1>
  <p class="subtitle">{{ .Date.Format "January 2, 2006" }}</p>
  {{ .Content }}
  <hr/>
  <div class="columns">
  {{if .PrevInSection}}<div class="column"><div class="box"><a href="{{.PrevInSection.Permalink}}">Previous:</br>{{ .PrevInSection.Title }}</a></div></div>{{end}}
  {{if .NextInSection}}<div class="column"><div class="box"><a href="{{.NextInSection.Permalink}}">Next:</br>{{ .NextInSection.Title }}</a></div></div>{{end}}
  </div>
  </div>
</div>
{{ end }}