{{ define "main" }}
  <div class="archive">
  <h1 class="title has-text-centered">List of {{.Type | title}} posts</h1>
  {{ $prev := 3000 }}
  
  <ul>
  {{ range .Pages.ByDate.Reverse }}
    {{ if gt $prev (.Date.Format "2006") }}
    <li class="is-size-3 has-text-weight-semibold has-text-centered">{{.Date.Format "2006"}}</li>
    {{ end }}
    <li><a href="{{ .Permalink }}"></a>{{ .Date.Format "January 2, 2006" }}</a>
        <ul><li>
            {{ .Content }}
        </li></ul>
    </li>
  {{ $prev = .Date.Format "2006" }}
  {{ end }}
  </ul>
  </div>
{{ end }}